$colorWhite: #fff;
$colorOrange: #FEBA03;
$colorRed: #E04A38;
header{
	display: inline;
	.menu{
	width: 10%;
	height: 100vh;
	background: #1C0B05;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 5;
    &-logo{
    	width: 100%;
    	text-align: center;
    	margin-top: 50px;
    	margin-bottom: 100px;
    }
    &-list{
    	list-style-type: none;
    	padding: 0;
    	margin:0;
    	&-item{
    		margin-left: 40px;
    		margin-bottom: 40px;
    		a{
    			font-size: 20px;
                line-height: 38px;
                color: $colorWhite;
                text-decoration: none;
                &:hover{
                	color: $colorOrange;
                };
    		}
    	}
    }
    &-contacts{
        position: relative;
        top: 300px;
    	margin-left: 40px;
    	&-tel{
    		font-size: 16px;
            line-height: 21px;
            color: $colorOrange;
            
            p{
            	margin: 0;
            }
            a{
            	margin-bottom: 30px;
            	border-bottom: 1px solid $colorOrange;
            	text-decoration: none;
            	color: $colorOrange;
            }
    	}
    	&-adress{
    		font-size: 14px;
            line-height: 18px;
            color: $colorWhite;
            span{
            	font-weight: 700;
            }
    	}
    }
}
}
.main{
    .btn{
        width: 250px;
        height: 60px;
        padding: 21px;
        background: #FFFFFF;
        opacity: 0.7;
        border-radius: 2px;
        border: none;
    }
    .btn::placeholder{
        font-size: 18px;
        line-height: 34px;
        color: #000000;
    }
    .topsection{
        position: relative;
        top: 0px;
        left: 0;
        margin:0;
        &-slider{
            position: relative;
            height: 100vh;
            img{
                float: right;
                max-height: 100vh;
                opacity: .7;
                position: absolute;
                right: 0;
            }
            &-buttons{
                position: absolute;
                bottom: 30px;
                right: 110px;
                width: 1550px;
                &-btn{
                    background: #BFBBBA;
                    opacity: 0.5;
                    width: 50px;
                    height: 50px;
                    padding: 0;
                    border: none;
                    margin-left: 10px;
                    float: right;
                }
            }
        }
        &-menu{
            position: absolute;
            top: 0;
            left: 10%;
            width: 500px;
            height: 100vh;
            background: $colorOrange;
            padding-left: 50px;
            padding-top: 170px;
            &-block{
                position: relative;
                h2{
                font-size: 36px;
                line-height: 46px;
                text-transform: uppercase;
                color: #000;
                margin: 0;
                margin-bottom: 20px;
            }

                &-circles{
                    position: absolute;
                    bottom: 0px;
                }
            p{
                margin: 0;
                font-size: 18px;
                line-height: 23px;
                color: $colorWhite;
                max-width: 370px;
                margin-bottom: 70px;
                padding-bottom: 5px;
            }
            &-line{
                position: absolute;
                bottom:-23px;
                opacity: 0;
                transition: opacity .5s;
            }
            
            }
            &-block:hover .topsection-menu-block-line{
                    opacity: 1;
                    transition: opacity .5s;
            }
        }
        &-list{
            list-style-type: none;
            position: absolute;
            top: 70px;
            padding: 0;
            right: 110px;
            margin: 0;
            &-item{
                display: inline-block;
                margin-right: 31px;
                a{
                    font-size: 16px;
                line-height: 31px;
                text-transform: uppercase;
                color: $colorWhite;
                text-decoration: none;
                font-weight: 700;
                transition: color .5s;
                }
                a:hover{
                    color: $colorOrange;
                    transition: color .5s;
                }
            }
        }
        &-form{
            position: absolute;
           top: 250px;
           right: 100px;
           text-align: right;
            h1{
                font-size: 66px;
                line-height: 85px;
                text-align: right;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $colorWhite;
                width: 803px;
                font-weight: 700;
            }
            &-btn{
                background: $colorOrange;
                opacity: 1;
                transition: background-color .5s;
            }
            &-btn:hover{
                background-color: $colorRed;
                transition: background-color .5s;
            }
            span{
                font-size: 13px;
                line-height: 17px;
                color: $colorWhite;
                margin-top: 10px;
            }
        }
    }
}