@media screen and (max-width: 1920px) {
	.header {
		.menu {

			&1-services {
				height: 100vh;
			}

			.menu1-block-list {
				margin-bottom: 50px;
			}
		}
	}
	/*begin topsection*/
	.topsection {
		&-slider-slick {
			height: 100vh;

			.item {
				height: 100vh;
			}
		}

		&-menu {
			height: 1200px;

			.item-text-p {
				margin-bottom: 70px;
			}
		}

		&-form {
			top: 300px;
		}
	}
}
@media screen and (max-width: 1600px) {
	.header {
		.menu {
			width: 10.417%;
		}

		.menu-contacts {
			margin-left: 0;
			left: 30px;
		}

		.menu-list-item {
			padding-left: 30px;
		}

		.menu1-services {
			height: 891px;
			margin-left: 10.417%;
			width: 40%;

			.menu1-content-block {
				width: 41.66667%;
			}

			.menu1-content-block-p h3 {
				font-size: 16px;
				line-height: 22px;
			}

			.menu1-block-list-item {
				font-size: 13px;
				line-height: 26px;
			}
		}
	}
	/*end header*/

	/* section styles*/
	section {
		margin-left: 10.417%;
	}

	/*btn styles*/
	.btn{
		width: 195px;
		height: 50px;
		padding: 15px;
	}
	/*begin top section */
	.topsection {
		&-menu {
			padding-left: 40px;
			height: 1055px;

			.item {
				&-text-tittle {
					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {
						font-size: 28px;
						line-height: 41px;
					}
				}

				&-text-p {
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 55px;
				}
			}
		}

		.topsection-slider-slick {
			height: auto;

			.item {
				height: auto;
			}
		}

		.topsection-slider-button {
			bottom: 70px;
		}
		.topsection-form{
			.contact-form-tittle h1 {
				font-size: 52px;
				line-height: 70px;
				width: auto;
			}
			.contact-form-row{
				display: flex;
				width: 620px;
				justify-content: flex-end;
			}
			
		}
		.form-text span{
			font-size: 16px;
			line-height: 20px;
			margin-top: 25px;
		}
	}
	/*end top section styles*/
	/*section-tittle styles*/
	.section-tittle {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 34px;
		}
	}
	/*begin number section styles*/
	.number {
		.section-tittle h2 {
			margin-bottom: 40px;
			margin-top: 40px;
		}

		&-content {
			margin-left: 0;
			justify-content: center;
			.number-top.animate {
	      transform: translateX(-25px);
	    }

	    .number-bottom.animate {
	      transform: translateX(25px);
	    }
		}

		&-block {
			width: 500px;
			height: 100px;

			&-pic {
				width: 100px;
				height: 100px;
				position: relative;
			}

			&-pic img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}

			&-text {
				padding: 15px;
				width: 400px;
				height: 100px;
			}

			p {
				line-height: 25px;
			}
		}
	}
	/*end section number styles*/
	/*begin services section*/
	.services {
		.section-tittle h2 {
			padding-top: 40px;
		}

		.buttons {
			right: 125px;
		}
		&-slider{
			.slider-item-img{
				width: auto;
				height: auto;
			}
			.slider-item-text{
				width: auto;
			}
		}
	}
	/*end section services*/
	/*begin section credit*/
	.credit {
		.section-tittle h2 {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.item-img {
			height: auto;
		}

		.item-text {
			margin-left: 40px;
		}

		.item-text h4 {
			font-size: 23px;
			line-height: 26px;
		}

		.item-text p {
			font-size: 15px;
			line-height: 26px;
			margin-top: 25px;
			margin-bottom: 30px;
			max-height: 150px;
		}

		.reverse .item-text {
			margin-right: 40px;
		}
	}
	/*end credit section*/
	/*begin company section*/
	.company {
		padding-top: 40px;
		padding-bottom: 40px;

		.section-tittle h2 {
			margin-bottom: 40px;
		}

		.company-text p {
			margin-bottom: 50px;
		}
	}
	/*end company section*/
	/*begin client section*/
	.client {
		min-height: 670px;

		.section-tittle h2 {
			padding-top: 40px;
		}

		&-dots {
			top: 106px;
		}

		.buttons {
			top: 86px;
		}

		.slider-client {
			width: 868px;
			height: 577px;

			.item {
				width: 868px;
				height: 577px;
			}

			.item-image {
				height: 100%;
				width: 100%;
			}
		}

		&-post {
			width: 650px;
			top: 165px;
			height: 475px;
		}

		&-post-item {
			width: 100%;
			height: 140px;
			margin-bottom: 25px;
		}

		.item-img {
			width: 140px;
			height: 100%;
		}

		.item-text {
			width: 510px;
			padding-left: 20px;

			h3 {
				margin-top: 35px;
			}
		}
	}
	/*end client section*/
	/*footer styles*/
	.footer {
		&-content {
			padding-bottom: 0;
			padding-top: 60px;
		}

		.item {
			margin-right: 30px;
			width: 205px;

			.item-tittle {
				margin-bottom: 15px;
			}

			h3 {
				font-size: 14px;
			}
		}

		.item:nth-of-type(4) {
			margin-right: 0;
		}

		&-list {
			li {
				font-size: 12px;
				line-height: 23px;
			}
		}

		&-menu {
			width: 150px;

			a {
				font-size: 14px;
			}
		}

		&-copyright {
			padding: 20px 110px;
		}
	}
}
@media screen and (max-width: 1366px) {
	.header {
		.menu {
			&-contacts {
				left: 20px;
			}

			.menu-contacts-tel {
				font-size: 13px;
				line-height: 18px;
			}

			.menu-contacts-adress {
				font-size: 12px;
				line-height: 15px;
			}
		}

		.menu-logo {
			margin-bottom: 50px;
		}

		.menu-logo svg {
			width: 100px;
			height: 17px;
		}

		.menu-list-item {
			padding-left: 20px;

			a {
				font-size: 17px;
			}
		}

		.menu1-services {
			height: 768px;

			.menu1-content-block-p svg {
				height: 12px;
			}

			.menu1-content-block{
				margin-right: 20px;
				width: auto;
			}
		}

		.menu1-services-content {
			padding-top: 120px;
			padding-left: 7%;
			display: flex;
			justify-content: flex-start;
		}
	}
	/*end header styles*/
	/*btn styles*/
	.btn {
		padding: 15px;
		font-size: 14px;

		&::placeholder {
			font-size: 14px;
		}
	}
	/*end btn styles*/
	/* styles error form*/
	/* begin styles top section*/
	.topsection {
		&-menu {
			padding-left: 30px;
			padding-top: 120px;
			height: 910px;

			.item {
				&-text-tittle {
					margin-bottom: 15px;

					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {
						font-size: 25px;
						line-height: 35px;
					}
				}

				&-text-p {
					line-height: 18px;
					margin-bottom: 42px;
				}
			}
		}


		.topsection-slider-button {
			right: 80px;
		}

		&-list {
			top: 40px;
			right: 80px;
		}

		&-list-item a {
			font-size: 15px;
			line-height: 28px;
		}

		&-form {
			top: 230px;
			right: 80px;
		}

		&-form .contact-form-tittle h1 {
			font-size: 58px;
			line-height: 70px;
			margin-bottom: 20px;
		}

		&-form .contact-form-row {
			justify-content: flex-end;
		}

		&-form .form-text span {
			font-size: 15px;
		}
	}
	/* end section top styles*/
	/*section tittle style*/
	.section-tittle {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 33px;
		}
	}
	/*begin number section*/
	.number {
		.section-tittle h2 {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		&-content{
			.number-top.animate {
	      transform: translateX(-20px);
	    }

	    .number-bottom.animate {
	      transform: translateX(20px);
	    }
		}
	}
	/*end number section*/
	/*begin section services*/
	.services {
		.section-tittle h2 {
			padding-top: 30px;
		}

		.buttons {
			right: 90px;
			top: 70px;
		}

		&-slider {
			min-height: 500px;
			margin-left: 75px;
			margin-right: 75px;
		}

		.slider-item {
			width: 300px;
		}

		.slider-item-img {
			width: auto;
			height: auto;
		}

		.slider-item-text {
			width: auto;
			min-height: 280px;
		}

		&-slider h3 {
			font-size: 18px;
			line-height: 25px;
		}

		&-slider li {
			font-size: 14px;
			line-height: 20px;
		}
	}
	/*end section services*/
	/*begin credit section*/
	.credit {
		.section-tittle h2 {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.item {
			margin-left: 90px;
			margin-right: 90px;
		}

		.item-img {
			height: auto;
		}

		.item-text {
			margin-top: 50px;
			margin-left: 35px;
		}

		.reverse .item-text {
			margin-right: 35px;
		}

		.item-text h4 {
			font-size: 22px;
			line-height: 24px;
			margin-bottom: 5px;
		}

		.item-text svg {
			width: 80px;
		}

		.item-text p {
			line-height: 21px;
			height: 120px;
			min-height: 20px;
			margin-top: 15px;
		}

		.reverse {
			margin-left: 110px;
			margin-right: 90px;
		}
	}
	/*end credit section*/
	/*begin company section*/
	.company {
		padding: 30px 90px;

		.section-tittle h2 {
			margin-bottom: 30px;
		}
	}
	/*end company section*/
	/*begin client section*/
	.client {
		min-height: 580px;

		.section-tittle h2 {
			padding-top: 30px;
		}

		&-dots {
			top: 96px;
		}

		.buttons {
			top: 76px;
			right: 90px;
		}

		.slider-client {
			width: 724px;
			height: auto;

			.item {
				width: 724px;
				height: 480px;
			}
		}

		&-post {
			width: 550px;
			top: 140px;
			height: 403px;
			right: 90px;
		}

		&-post-item {
			height: 120px;
			margin-bottom: 20px;
		}

		.item-img {
			width: 120px;
			height: 100%;
		}

		.item-text {
			width: 430px;
			padding-left: 20px;

			h3 {
				font-size: 19px;
			}

			p {
				font-size: 13px;
				margin: 7px 0 10px;
			}
		}
	}
	/*end client section*/
	/*footer styles*/
	.footer {
		.footer-content{
			padding-left: 90px;
			padding-right: 90px;
		}
		.item {
			.item-tittle {
				margin-bottom: 10px;
			}

			h3 {
				font-size: 12px;
			}
		}

		&-list {
			li {
				font-size: 11px;
				line-height: 20px;
			}
		}

		&-menu {
			.menu-item {
				margin-bottom: 20px;
			}

			a {
				font-size: 12px;
			}
		}

		&-logo {
			width: 165px;
			height: 80px;
		}

		&-logo-body {
			margin-bottom: 15px;
			width: 120px;
			display: inline-block;
			float: right;

			svg {
				height: 20px;
				width: 120px;
				float: right;
			}
		}

		&-logo-social {
			float: right;
			margin-right: -7px;

			svg {
				height: 40px;
			}

			.social-fb {
				margin-right: 0;
			}
		}

		&-copyright {
			padding-left: 90px;
			padding-right: 90px;
			&-element {
				font-size: 13px;
				line-height: 20px;
			}
		}
	}
}
@media screen and (max-width: 1280px) {
	/* header styles*/
	.header {
		.menu-logo {
			margin-top: 30px;
			margin-bottom: 40px;
		}

		.menu-list-item {
			svg {
				height: 10px;
			}
		}
		.menu .menu-contacts-tel a{
			margin-bottom: 15px;
		}

		.menu1-services {
			height: 720px;
		}

		.menu1-services-content {
			padding-top: 90px;

			.menu1-content-close {
				font-size: 17px;
			}

			.menu1-content-block-p h3 {
				font-size: 13px;
				line-height: 15px;
			}
		}
	}
	/*end header styles*/

	/*begin form error styles*/

	.form_input{
		.errorText{
			font-size: 14px;
		}
	}

	/*btn styles*/
	.btn{
		width: 175px;
		height: 45px;
	}
	/*begin top section*/
	.topsection {

		.topsection-menu {
			padding-top: 90px;
			height: 845px;

			.item {

				&-text-p {
					margin-bottom: 37px;

					.item-pic {
						display: none;
					}
				}
			}
		}

		&-list {
			right: 50px;
		}

		&-form {
			right: 50px;
		}
		.topsection-form .contact-form-tittle h1{
			font-size: 48px;
			line-height: 58px;
		}
		
		.topsection-slider-button{
			right: 50px;
		}
	}
	/*end top section*/
	/*section tittle styles*/
	.section-tittle {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 30px;
		}
	}
	/*begin number section style*/
	.number {
		.section-tittle h2 {
			margin-top: 25px;
			margin-bottom: 25px;
		}

		&-block {
			width: 400px;
			height: 80px;
			margin-right: 15px;
		}

		&-block-pic {
			width: 80px;
			height: 80px;
			padding: 0;

			img {
				width: 50%;
				height: 50%;
			}
		}

		&-block-text {
			width: 320px;
		}

		&-block-text h4 {
			font-size: 16px;
			line-height: 20px;
		}

		&-block-text p {
			font-size: 14px;
			line-height: 17px;
		}
	}
	/*end number section*/
	/*begin section services*/
	.services {
		.buttons {
			right: 60px;
			top: 68px;
		}

		&-slider {
			margin: 40px 45px 0;
		}
	}
	/* end services section styles*/
	/*begin credit section styles*/
	.credit {
		.item{
			margin-left: 60px;
			margin-right: 60px;
		}
		.item-text {
			margin-top: 40px;
		}
	}
	/*end credit section styles*/

	/*begin company*/
	.company{
		padding: 30px 60px;
	}
	/*begin section client*/
	.client {
		.buttons {
			right: 60px;
		}

		&-post {
			right: 60px;
		}
	}
	/*end section client*/
	/*footer styles*/
	.footer {
		.footer-content {
			padding: 30px 60px 0;
			padding-left: 60px;
			padding-right: 60px;
		}

		&-copyright {
			padding: 20px 60px;
			padding-left: 60px;
			padding-right: 60px;
		}
	}
}
@media screen and (max-width: 1024px) {
	.header {
		.menu-logo {
			margin: 20px 0;
		}

		.menu-logo svg {
			width: 80px;
		}

		.menu-list-item {
			padding-left: 15px;
			padding-bottom: 10px;
			padding-top: 10px;
		}

		.menu-list-item a {
			font-size: 14px;

			svg {
				height: 10px;
			}
		}

		.menu-contacts {
			left: 15px;
		}

		.menu .menu-contacts-tel {
			font-size: 11px;
			line-height: 15px;

			a {
				margin-bottom: 15px;
			}
		}

		.menu .menu-contacts-adress {
			font-size: 10px;
			line-height: 12px;
		}

		.menu1-services {
			height: 576px;
			width: 45%;
		}

		.menu1-services-content {
			padding-top: 60px;
			padding-left: 30px;

			.menu1-content-close {
				top: 15px;
				right: 25px;
				font-size: 14px;
				line-height: 20px;
			}
			.menu1-content-block{
				margin-right: 1%;
			}
			.menu1-block-list-item{
				line-height: 16px;
			}
			.menu1-content-block-p svg {
				height: 8px;
			}
		}
	}
	/* end header styles*/
	/*btn styles*/
	.btn {
		width: 165px;
		height: 40px;
		padding: 10px;
		font-size: 13px;

		&::placeholder {
			font-size: 13px;
		}
	}
	/*end btn styles*/
	/*slick btn styles*/
	.global-wrapper .slick-arrow,
	.slick-arrow {
		width: 40px;
		height: 40px;
		padding-top: 14px;

		svg {
			width: 7px;
		}
	}
	/*begin top section*/
	.topsection {

		.topsection-slider-button {
			width: 90px;
			right: 40px;
		}

		.topsection-list {
			top: 30px;
			right: 40px;
		}

		.topsection-list-item {
			margin-left: 20px;
		}

		.topsection-list-item a {
			font-size: 13px;
			line-height: 20px;
		}

		.topsection-form {
			right: 40px;
			top: 190px;
		}

		.topsection-form .contact-form-tittle h1 {
			font-size: 45px;
			line-height: 55px;
			margin-bottom: 10px;
			width: 600px;
		}

		.topsection-menu {
			padding-top: 60px;
			height: 690px;

			.item {
				&-text-tittle {
					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {
						font-size: 20px;
						line-height: 28px;
						margin-bottom: 10px;
					}
				}

				&-text-p {
					line-height: 17px;
					margin-bottom: 10px;
				}
			}
		}

		.topsection-menu-dots {
			height: 10px;
		}

		.topsection-slider-button {
			bottom: 50px;
		}
	}
	/*end top section styles*/
	/*section tittle styles*/
	.section-tittle {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 27px;
			line-height: 27px;
		}
	}
	/*number section styles*/
	.number{
		.number-content{
			margin-left: 70px;
		}
	}
	/*end section number*/

	/*section services styles*/
	.services {
		.section-tittle h2 {
			padding-top: 20px;
			margin-bottom: 20px;
		}

		.buttons {
			width: 90px;
			height: 40px;
			top: 48px;
		}

		&-slider {
			min-height: 380px;
		}

		.slider-item-text {
			padding: 20px;
			min-height: 215px;
			background-color: #fff;
			.btn {
				bottom: 20px;
				opacity: 1;
				pointer-events: all;
			}
		}

		.slider-item-text h3 {
			font-size: 14px;
			line-height: 16px;
		}

		.slider-item-text li {
			font-size: 12px;
			line-height: 14px;
		}
	}
	/*end section services styles*/
	/*begin section credit styles*/
	.credit {
		.section-tittle h2 {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.item {
			margin-left: 60px;
			margin-right: 70px;
		}

		.item-text {
			margin-top: 30px;
			margin-left: 30px;
		}

		.reverse .item-text {
			margin-right: 30px;
		}

		.item-text h4 {
			margin-bottom: 0;
			font-size: 20px;
			line-height: 21px;
		}

		.item-text svg {
			width: 70px;
		}

		.item-text p {
			font-size: 14px;
			line-height: 20px;
			margin-top: 0;
			margin-bottom: 15px;
		}

		.reverse {
			margin-left: 70px;
			margin-right: 60px;
		}
	}
	/*end credit section style*/
	/*begin company section style*/
	.company {
		padding: 20px 45px;

		.section-tittle h2 {
			margin-bottom: 20px;
		}

		.company-text p {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 20px;
		}
	}
	/*end company section*/
	/*begin client section*/
	.client {
		min-height: 430px;

		.section-tittle h2 {
			padding-top: 20px;
		}

		&-dots {
			top: 70px;
		}

		.buttons {
			width: 90px;
			height: 40px;
			top: 60px;
			right: 45px;
		}

		.slider-client {
			width: 555px;

			.item {
				width: 555px;
				height: 367px;
			}
		}

		&-post {
			right: 45px;
			height: 290px;
			width: 460px;
			top: 120px;
		}

		&-post-item {
			margin-bottom: 10px;
			height: 90px;
		}

		.item-img {
			width: 90px;

			img {
				border-width: 4px;
			}
		}

		.item-text {
			width: 370px;

			h3 {
				margin-top: 20px;
				font-size: 17px;
			}

			p {
				font-size: 11px;
				margin-bottom: 7px;
			}

			&-pic svg {
				height: 9px;
				width: 9px;
			}
		}
	}
	/*end client section*/
	/*footer styles*/
	.footer {
		.footer-content {
			padding: 20px 45px 0;
			padding-left: 45px;
			display: flex;
			justify-content: space-between;
		}
		.footer-menu-list{
			.menu-item{
				margin-bottom: 15px;
			}
			.menu-item a {
				font-size: 17px;
			}
		}
		.item {
			display: none;
			}
		&-logo-body {
			width: 100px;
			margin-bottom: 0;

			svg {
				height: 17px;
				width: 100px;
			}
		}

		&-logo-social {
			margin-right: -4px;

			svg {
				height: 30px;
				width: 30px;
			}
		}

		&-copyright {
			padding: 15px 45px;
		}
	}
}
@media screen and (max-width: 992px) {
	/*header styles*/
	.header {
		.menu {
			width: 100vw;
			min-height: 7vh;
			height: auto;

			&-logo {
				display: inline-block;
				width: 100px;
				text-align: left;
				padding-left: 10px;

				svg {
					width: 90px;
					height: 26px;
				}
			}

			.menu-opacity-block {
				display: none;
				height: 53vh;
				position: relative;
			}
			.menu-open-btn{
				display: inline-block;
			}

			&-list {
				text-align: center;
				height: 300px;
				margin-bottom: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 50px 0;
			}

			&-list-item a {
				font-size:20px;
				svg {
					height: 20px;
					width: 20px;
					transform: rotate(90deg);
					margin-right: 5px;
				}
			}

			&-contacts {
				display: flex;
				bottom: 20px;
				justify-content: space-between;
				width: 100vw;
				.menu-contacts-tel {
					font-size: 17px;
					line-height: 19px;
				}

				.menu-contacts-adress {
					font-size: 17px;
					line-height: 20px;
					margin-right: 40px;
					
				}
			}
			.menu1-services{
				width: 100vw;
				margin-left: 0;
				top: 195px;
				height: 247px;
				overflow-y: scroll;
			}
			.menu1-services-content{
				padding-top: 40px;
				padding-left: 5%;
				.menu1-content-close{
					font-size: 16px;
				}
				.menu1-content-block{
					width: 50%;
					.menu1-content-block-p h3{
						font-size: 20px;
						margin-bottom: 10px;
					}
					.menu1-content-block-p li{
						font-size: 17px;
					}
					.menu1-content-block-p svg{
						height: 20px;
					}
				}
			}
		}
	}

	/*end header styles*/
	

	section{
		margin-left: 0;
	}
	/*begin top section*/
	.topsection {
		margin-top: 70px;

		.topsection-slider-button {
			bottom: 300px;
		}
		.topsection-slider-slick{
			width: 100%;
			margin-left: 0;
			.item{
				width: 100%;
			}
		}
		.topsection-slider-dots-mobile{
			display: inline-block;
			position: absolute;
			left: 20px;
			bottom: 315px;
			height: 10px;
			width: 70px;
		  }

		.topsection-menu {
			position: relative;
			width: 100%;
			padding-top: 20px;
			padding-left: 20px;
			height: auto;
			left: 0;
			.item{
				height: fit-content;
				margin-right: auto;
			}
			.item:last-child{
				display: none;
			}
		}

		.list-block {
			display: flex;
			flex-wrap: wrap;
		}

		.list-block .item-line {
			display: none;
		}

		.list-block .item .topsection-menu-dots {
			display: none;
			position: absolute;
			left: -660px;
			top: -70px;
			width: 100px;
		}

		.list-block .item-text p {
			max-width: 200px;
		}

		.topsection-list {
			top: 20px;
			right: 30px;
		}

		.topsection-form {
			right: 30px;
			top: 250px;
		}
	}
	/*end top section*/

	/*begin number section*/

	.number{
		.number-content{
			justify-content: flex-start;
			margin-left: 45px;
		}
		.number-block{
			width: 430px;
		}
	}

	/*end number section*/
	/*begin services section*/
	.services {
		.buttons {
			right: 45px;
		}

		&-slider {
			margin: 40px 30px 0;
		}
	}
	/*end services section*/
	.credit{
		.item{
			margin-left: 45px;
			margin-right: 45px;
		}
	}
	/*begin client section*/
	.client {
		min-height: 430px;

		.section-tittle h2 {
			padding-top: 20px;
		}

		&-dots {
			top: 70px;
		}

		.buttons {
			width: 90px;
			height: 40px;
			top: 60px;
			right: 40px;
		}

		.slider-client {
			width: 555px;

			.item {
				width: 555px;
				height: 367px;
			}
		}

		&-post {
			right: 40px;
			height: 290px;
			width: 460px;
			top: 120px;
		}

		&-post-item {
			margin-bottom: 10px;
			height: 90px;
		}

		.item-img {
			width: 90px;
		}

		.item-text {
			width: 370px;

			h3 {
				margin-top: 20px;
				font-size: 17px;
			}

			p {
				font-size: 11px;
				margin-bottom: 7px;
			}

			&-pic svg {
				height: 9px;
				width: 9px;
			}
		}
	}
	/*end client section*/

	/*footer styles*/
	.footer{
		margin-left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.header{
		.menu{
			.menu-opacity-block{
				height: 93vh;
			}
			.menu-list{
				height: 70vh;
				padding: 16% 0;
			}
			.menu-list-item a{
				font-size: 30px;
			}
			.menu1-services{
				top: 336px;
				width: 100%;
			}
			.menu1-content-block{
				width: 50%;
			}
		}
		
	}

	/*end header styles*/

	/*top section styles*/

	.topsection{
		.topsection-form{
			top: 170px;	
		}
	}

	/*end top section styles*/

	/*begin number styles*/

	.number{
		.number-content{
			margin-left:30px;
		}
		.number-top, .number-bottom{
			flex-wrap: wrap;
			margin-bottom: 0;
		}
		.number-block{
			flex-basis: 650px;
			height: 130px;
			margin-bottom: 20px;
		}
		.number-block-pic{
			height: 100%;
			width: 20%;
		}
		.number-block-text{
			width: auto;
			h4{
				font-size: 20px;
				margin-bottom: 20px;
			}
			p{
				font-size: 18px;
			}
		}
	}
	/*end number styles*/

	/*begin services */

	.services{
		.buttons{
			right: 30px;
		}
		&-slider{
			margin-left: 15px;
			margin-right: 15px;
			.slider-item-text{min-height: 275px;
				h3{
					font-size: 19px;
					line-height: 19px;
				}
				li{
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	}

	/*end services*/

	/*begin credit*/

	.credit{
		.item{
			display: flex;
			flex-wrap: wrap;
			margin-left: 30px;
			margin-right: 30px;
		}
		.item-text{
			margin-left :0;
			h4{
				font-size: 24px;
			}
			p{
				font-size: 19px;
			}
			.btn{
				font-size: 15px;
			}
		}
	}

	/*company*/

	.company{
		padding: 20px 30px;
	}

	/*client section*/
	.client{
		.buttons{
			right: 30px;
		}
		.client-post{
			right: 30px;
		}
	}

	/*footer*/

	.footer{
		.footer-content{
			padding-left: 30px;
			padding-right: 30px;
		}
		.footer-copyright{
			padding-left: 30px;
			padding-right: 30px;
			&-element{
				font-size: 15px;
			}
		}
	}
}
@media screen and (max-width: 666px) {
	.header{
		.menu{
			.menu1-services{
				top: 252px;
				width: 100vw;
				left: 0;
				transform: translate(0);
			}
		}
	}
	/*end header styles*/

	/*btn styles*/

	.btn{
		width: 120px;
		height: 35px;
	}

	/*error form style*/
	.form_input{
		.errorText{
			font-size: 12px;
		}
	}

	/*begin top section*/
	.topsection{
		.topsection-slider-slick{
			.item{
				height: 445px;
			}
			.item img{
				object-fit: cover;
			}
		}
		.topsection-list{
			right: 10px;
		}
		.topsection-list-item a{
			font-size: 11px;
		}
		.topsection-form{
			top: 140px;
			right: 10px;
			.contact-form-tittle h1{
				font-size: 27px;
				line-height: 30px;
			}
			.form-text span{
				font-size: 12px;
				margin-top: 15px;
				max-width: 90vw;
			}
		}
	}

	/* end top section styles*/

	/*begin credit*/

	.credit{
		.item .item-text{
			h4{
				font-size: 21px;
			}
			p{
				font-size: 15px;
			}
			.btn{
				font-size: 13px;
			}
		}
		
	}

	/*end credit section styles*/

	/*begin company */

	.company{
		.company-btn{
			font-size: 11px;
		}
	}

}
@media screen and (max-width: 480px) {
	.header{
		.menu .menu1-services{
			top: 29.5%;
		}
		.menu .menu1-services{
			.menu1-content-block .menu1-content-block-p{
				h3{
					font-size: 14px;
				}
				svg{
					height: 10px;
				}
				li{
					font-size: 14px;
				}
			}
		}
		.menu .menu-open-btn{
			margin-right: 20px;
		}
	}

	/*end header styles*/

	/*slick btn styles*/
	.global-wrapper .slick-arrow,
	.slick-arrow {
		width: 30px;
		height: 30px;
		padding-top: 9px;

		svg {
			width: 7px;
		}
	}

	/*section tittle*/
	.section-tittle{
		h1,h2,h3,h4,h5,h6{
			font-size: 23px;
			line-height: 23px;
		}
	}

	/*btn styles*/
	.btn{
		width: 190px;
		height: 40px;
	}
	/*begin top section styles*/

	.topsection{
		.topsection-list{
			display: flex;
			flex-direction: column;
		}
		.topsection-form{
			max-width: 100%;
			right: 0;
			.contact-form-tittle{
				h1,h2,h3,h4,h5{
					max-width: 100%;
					text-align: center;
				}
			}
			.contact-form-row{
				flex-direction: column;
				max-width: 190px;
				margin: 0 auto;
			}
			.form-input{
				display: inline-block;
			}
			.contact-form-item{
				margin-left: 0;
				margin-bottom: 25px;
			}
			.contact-form-item:last-child{
				margin-bottom: 0;
			}
			.form-text{
				text-align: center;
			}
			.form-text span{
				margin-top: 0;
			}
		}
		.slider-components{
			position: relative;
		}
		.topsection-slider-button{
			bottom: 15px;
			right: 10px;
			width: 65px;
			height: 30px;
		}
		.topsection-slider-dots-mobile{
			bottom: 15px;
		}
	}

	/*end top section*/
	.number{
		.number-content{
			margin-left: 20px;
		}
		.number-block{
			height: 75px;
			margin-right: 0;
			flex-basis: 430px;
		}
		.number-block-text{
			h4{
				font-size: 17px;
				margin-bottom: 0;
			}
			p{
				font-size: 14px;
			}
		}
	}

	/*begin services section*/

	.services{
		.services-slider{
			margin-left: 10px;
			margin-right: 10px;
			.slider-item{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.buttons{
			width: 65px;
			height: 30px;
			right: 20px;
		}
	}

	/*end services section*/

	.credit{
		.item{
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.company{
		padding: 20px;
	}

	/*begin client section*/

	.client{
		.buttons{
			width: 65px;
			height: 30px;
			right: 20px;
		}
		.client-dots, .buttons{
			z-index: 5;
		}
		.slider-client{
			width: 95vw;
			height: auto;
			.item{
				width: auto
			}
		}
		.client-post{
			left: 20px;
			max-width: 92vw;
		}
		.client-post-item{
			height: auto;
		}
		.item-text{
			padding-left: 10px;
			h3{
				font-size: 16px;
				line-height: 14px;
			}
			p{
				font-size: 14px;
			}
		}
		.item-img{
			height: 100%;
		}
	}

	/*end client*/

	/*begin footer*/

	.footer{
		.footer-content{
			padding: 20px 20px 0;
			flex-wrap: wrap;
		}
		.footer-logo{
			margin-left: auto;
		}
		.footer-logo-body svg{
			height: 40px;
		}
		.footer-logo-body{
			height: auto;
		}
		.footer-copyright{
			padding: 20px;
			display: flex;
			flex-direction: column;
			&-element{
				font-size: 16px;
				margin-bottom: 10px;
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.header{
		.menu{
			.menu-list-item a{
				font-size: 20px;
			}
			.menu-contacts-adress, .menu-contacts-tel{
				font-size: 13px;
				line-height: 15px;
			}
			.menu1-services{
				top: 22.5%;
			}
			.menu1-services-content{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.menu1-content-block{
					flex-basis: 80%;
				}
			}
		}
	}

	/*top section style*/

	.topsection{
		.topsection-form{
			.contact-form-tittle h1 {
				font-size: 22px;
				line-height: 24px;
			}
		}
		.topsection-menu{
			.list-block .item-text-p p{
				max-width: 100%;
			}
		}
	}

	/*end top section*/

	/*section tittle style*/
	.section-tittle{
		h1,h2,h3,h4,h5,h6{
			font-size: 18px;
			line-height: 20px;
		}
	}
	/*begin number section*/

	.number{
		.section-tittle h2{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.number-content{
			margin-bottom: 20px;
			margin-left: 0;
			width: 100%;
			display: block;
			padding-left: 20px;
		}
		.number-block{
			flex-basis: 300px;
			.number-block-pic{
				width: 50px;
				height: 50px;
			}
			.number-block-text{
				max-width: 250px;
				height: auto;
				padding: 5px;
				h4{
					font-size: 15px;
				}
				p{
					font-size: 14px;
				}
			}
		}
		
	}

	/*end number section*/

	/*begin services section*/
	.services{
		.buttons{
			right: 20px;
		}
		&-slider{
			margin: 20px 20px 0;
			.slider-item{
				width: 100%;
			}
		}
	}

	/*end services*/

	/*begin credit*/

	.credit{
		.credit-list .item{
			margin-left: 20px;
		}
		.item .item-text{
			h4{
				font-size: 19px;
			}	
		}
	}

	/*end credit section*/

	/*begin company section*/
	.company{
		padding: 20px;
	}

	/*end company section*/

	/*begin client section*/

	.client{
		min-height: 430px;
		.slider-client .item{
			height: 260px;
			img{
				object-fit: cover;
			}
		}
		.item-text{
			padding-left: 10px;
			h3{	
				margin-top: 5px;
				margin-bottom: 10px;
			}
			p{
				margin: 0;
				margin-bottom: 10px;
			}
		}
		.item-img{
			height: 100%;
		}
	}

	/*end client section*/

	.footer{
		.footer-content{
			flex-wrap: nowrap;
		}
		.footer-menu-list{
			flex-direction: column;
			.menu-item{
				margin-bottom: 10px;
			}
		}
		.footer-logo{
			display: inline-block;
			margin-left: 0;
			max-width: 45vw;
		}
	}
}