$colorWhite: #fff;
$colorOrange: #FEBA03;
$colorRed: #E04A38;
$colorBlack: #000;
$colorBrown: #1C0B05;

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

section {
  margin-left: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}
/*begin header*/
.header {
  display: inline;

  .menu {
    width: 200px;
    height: 100vh;
    background: $colorBrown;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 9;

    &-logo {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .menu-open-btn{
      display: none;
      width: 30px;
      height: 30px;
      margin-top: 20px;
      margin-right: 30px;
      margin-bottom: 20px;
      float: right;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
    .menu-open-btn span{
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: $colorOrange;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    .menu-open-btn span:nth-child(1) {
      top: 1px;
    }
    .menu-open-btn span:nth-child(2) {
      top: 11px;
    }
    .menu-open-btn span:nth-child(3) {
      top: 21px;
    }
    .menu-open-btn.open span:nth-child(1) {
      top: 11px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    .menu-open-btn.open span:nth-child(2) {
      opacity: 0;
      left: -20px;
    }
    .menu-open-btn.open span:nth-child(3) {
      top: 11px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    &-list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      &-item:nth-of-type(1) {
        padding-top: 0;
      }

      &-item {
        padding-left: 40px;
        padding-bottom: 20px;
        padding-top: 20px;

        a {
          font-size: 20px;
          color: $colorWhite;
          text-decoration: none;
        }

        a:hover {
          color: $colorOrange;
          border-bottom: 1px solid $colorOrange;
          padding-bottom: 10px;

          svg path {
            fill: $colorOrange;
          }
        }

        &-open {
          background-color: $colorOrange;
        }
      }
    }

    &-contacts {
      position: relative;
      top: 520px;
      margin-left: 40px;
    }

    .menu-contacts-tel {
      font-size: 16px;
      line-height: 21px;
      color: $colorOrange;

      p {
        margin: 0;
      }

      a {
        display: inline-block;
        margin-bottom: 30px;
        border-bottom: 1px solid $colorOrange;
        text-decoration: none;
        color: $colorOrange;
      }
    }

    .menu-contacts-adress {
      font-size: 14px;
      line-height: 18px;
      color: $colorWhite;

      span {
        font-weight: 700;
      }
    }
    .menu-opent-btn{
      display: none;
    }
    &1-services {
      width: 768px;
      height: 1080px;
      background: $colorBlack;
      position: fixed;
      top: 0;
      margin-left: 200px;
      display: none;

      &-content {
        position: relative;
        padding-top: 170px;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
      }

      .menu1-content-close {
        position: absolute;
        font-size: 18px;
        line-height: 30px;
        text-align: right;
        text-transform: uppercase;
        color: #6A6A6A;
        top: 40px;
        right: 40px;
        cursor: pointer;
      }

      .menu1-content-block {
        width: 320px;
        display: inline-block;
        vertical-align: top;
        margin-right: auto;
      }

      .menu1-content-block-p h3 {
        font-size: 20px;
        line-height: 38px;
        color: #FEBA03;
        text-transform: uppercase;
        margin: 0;
      }

      .menu1-block-list {
        padding: 0;
        list-style-type: none;
        margin: 0 0 74px;
      }

      .menu1-block-list-item {
        color: #fff;
        font-size: 15px;
        line-height: 30px;
      }
    }
  }
}
/*end header*/


/*form styles validate*/
.error {
  border: 1px solid #f00;
}

.errorText {
  color: $colorRed;
  font-weight: 700;
}

#contact_name-error {
  position: absolute;
  bottom: 20px;
  right: 690px;
}

#contact_tel-error {
  position: absolute;
  bottom: 20px;
  right: 270px;
}
/*btn document*/
.btn {
  width: 250px;
  height: 60px;
  padding: 21px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s;
  background: $colorOrange;
  color: $colorBlack;
  opacity: 1;

  &::placeholder {
    font-size: 18px;
    line-height: 34px;
    color: #000000;
    transition: all 0.5s;
  }

  &:focus::placeholder {
    color: #E5E5E5;
    transition: all 0.5s;
  }

  &:hover {
    background-color: $colorRed;
    color: $colorWhite;
    transition: all 0.5s;
  }

  &-red {
    background-color: $colorRed;
    color: $colorWhite;

    &:hover {
      background-color: $colorBrown;
      color: $colorWhite;
    }
  }

  &-brown {
    background-color: $colorBrown;
    color: $colorWhite;

    &:hover {
      background-color: $colorOrange;
      color: $colorBlack;
    }
  }
}
/*slick btn styles*/
.slick-arrow {
  width: 50px;
  height: 50px;
  border: none;
  background: #BFBBBA;
  opacity: 0.5;
  z-index: 6;
  transition: background-color 0.5s;
}

.slick-arrow:hover {
  background-color: $colorOrange;
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
}
/*slick dots styles*/
.slick-dots {
  z-index: 8;
  text-align: left;
  width: auto;
  bottom: 10px;
  height: 10px;
  line-height: 0;

  li {
    width: 10px;
    height: 10px;

    button {
      border-radius: 50%;
      background: #FFFFFF;
      width: 10px;
      height: 10px;
      opacity: 0.5;
    }
  }

  .slick-active {
    button {
      opacity: 1;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
/* begin topsection*/
.top {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;

  &-slider-slick {
    height: 1080px;
    margin-left: 25%;
    margin-bottom: 0;

    .item {
      height: 1080px;
      max-width: 1800px;

      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-menu {
    position: absolute;
    top: 0;
    left: 10.417%;
    width: 26.042%;
    height: 1286px;
    background: $colorOrange;
    padding-left: 50px;
    padding-top: 170px;
    opacity: 1;

    .item {
      position: relative;

      &-text-tittle {
        margin: 0 0 20px;
        text-align: left;
        h1,h2,h3,h4,h5,h6{
          font-size: 36px;
          line-height: 46px;
          text-transform: uppercase;
          color: $colorBlack;
        }
      }

      &-text-p {
        margin: 0;
        margin-bottom: 100px;
        padding-bottom: 5px;
        height: auto;
        display: flex;
        justify-content: space-between;
        width: 95%;
        font-size: 18px;
        line-height: 23px;
        color: $colorWhite;
        p{

          max-width: 370px;
          display: inline-block;
        }
        .item-pic{
          display: inline-block;
          height: auto;
          background-color: $colorWhite;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: -5px;
          opacity: 0;
          transition: all .5s;
        }
        .item-pic:after{
          content: "";
          display: block;
          width: 95%;
          height: 1px;
          background-color: $colorWhite;
          position: absolute;
          bottom: 0;
          left: 0;

        }
      }
      &-text-p:hover{
        .item-pic{
          transition: all .5s;
          opacity: 1;
        }
      }
    }
  }

  &-list {
    list-style-type: none;
    position: absolute;
    top: 70px;
    padding: 0;
    right: 110px;
    margin: 0;

    &-item {
      display: inline-block;
      margin-left: 31px;

      a {
        font-size: 16px;
        line-height: 31px;
        text-transform: uppercase;
        color: $colorWhite;
        text-decoration: none;
        font-weight: 700;
        transition: color 0.5s;
      }

      a:hover {
        color: $colorOrange;
        transition: color 0.5s;
      }
    }
  }

  &-form {
    position: absolute;
    top: 350px;
    right: 100px;
    text-align: right;

    .contact-form {
      &-tittle h1 {
        font-style: inherit;
        font-size: 66px;
        line-height: 85px;
        text-align: right;
        text-transform: uppercase;
        color: $colorWhite;
        width: 803px;
        font-weight: 900;
        margin: 0 0 30px;
        display: inline-block;
      }

      &-row {
        display: flex;
      }

      &-item {
        margin-left: 20px;
      }
    }

    &-input {
      background: #FFFFFF;
      opacity: 0.7;

      &:hover {
        background-color: $colorWhite;
        color: $colorBlack;
      }
    }

    .form-text span {
      font-size: 13px;
      line-height: 17px;
      color: $colorWhite;
      display: inline-block;
      margin-top: 20px;
    }
  }
  .top-slider-dots-mobile{
    display: none;
  }
  &-slider-button {
    width: 110px;
    height: 50px;
    position: absolute;
    bottom: 70px;
    right: 110px;

    .slide-prev {
      float: left;
    }

    .slide-next {
      float: right;
    }

    .slide-next,
    .slide-prev {
      text-align: center;
      padding-top: 17px;
    }
  }
}
/*end topsection*/
/*h2 styles*/
.section-tittle {
  h2 {
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    font-weight: 700;
  }
}
/*begin sectionnumber*/
.number {
  vertical-align: top;

  h2 {
    margin-bottom: 50px;
    margin-top: 54px;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8.45%;
    margin-bottom: 70px;

    .number-bottom,
    .number-top {
      display: flex;
      transition: all 0.5s;
    }
    .number-top{
      margin-bottom: 30px;
    }

    .number-top.animate {
      transform: translateX(-50px);
    }

    .number-bottom.animate {
      transform: translateX(50px);
    }
  }

  &-block {
    width: 700px;
    height: 150px;
    background: $colorWhite;
    display: inline-block;
    z-index: 0;
    flex-basis: 700px;
    margin-right: 30px;
    display: flex;

    &-pic {
      padding: 45px;
      width: 150px;
      height: 150px;
      background-color: $colorBrown;
      display: inline-block;
    }

    &-text {
      width: 550px;
      height: 150px;
      display: inline-block;
      padding-top: 47px;
      padding-bottom: 47px;
      padding-left: 30px;
    }

    h4 {
      font-size: 20px;
      line-height: 26px;
      color: $colorRed;
    }

    p {
      font-size: 16px;
      line-height: 31px;
      color: #000000;
    }
  }
}
/*end sectionnumber*/
/*btn slider */
.buttons {
  position: absolute;
  width: 110px;
  height: 50px;
  top: 96px;
  right: 110px;

  .prev {
    float: left;
  }

  .next {
    float: right;
    background-color: $colorOrange;
  }

  .next,
  .prev {
    text-align: center;
    padding-top: 17px;
    opacity: 1;
    height: 50px;
    width: 50px;
  }

  .next:hover,
  .prev:hover {
    background-color: $colorRed;
  }
}
/*begin sectionservices*/
.services {
  background: #E5E5E5;
  position: relative;

  h2 {
    padding-top: 50px;
    margin-bottom: 30px;
  }

  &-dots {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 10px;
  }

  .slick-dots {
    bottom: 0;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-dots .slick-active button {
    background-color: $colorOrange;
  }

  &-slider {
    min-height: 560px;
    margin: 40px 110px 30px;

    .slider-item {
      width: 350px;
      height: 100%;
      display: inline-block;
      padding: 0 15px;
    }

    .slider-item-img {
      width: 353px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .slider-item-text {
      width: 353px;
      min-height: 308px;
      padding: 40px 31px 39px 30px;
      position: relative;
      font-weight: 700;
      transition: all 0.5s;

      ul {
        margin-bottom: 60px;
      }
      .btn{
        opacity: 0;
        pointer-events: none;
        transition: all .5s;
      }
    }
    .slider-item:hover .slider-item-text{
      background-color: $colorWhite;
      transition: all .5s;
      .btn{
        opacity: 1;
        transition: .5s;
        pointer-events: all;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 38px;
      color: #FEBA03;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    li {
      font-size: 15px;
      line-height: 25px;
    }

    .close {
      display: none;
    }

    li.btn-close,
    li.list-btn {
      text-decoration: underline;
      line-height: 20px;
      cursor: pointer;
    }

    .btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .slider-item-opacity {
    .slider-item-text {
      background-color: transparent;
      transition: all 0.5s;
    }

    .btn {
      opacity: 0;
      transition: all 0.5s;
      cursor: default;
    }
  }

  &-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
/*end sectionservices*/
/* begin sectionCredit*/
.credit {
  margin-bottom: 70px;

  .section-tittle h2 {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .item {
    display: flex;
    margin-bottom: 50px;
    margin-left: 110px;
    margin-right: 130px;

    &-img {
      width: 766px;
      height: 537px;
      margin-left: 0px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      width: 664px;
      margin-left: 50px;
      margin-top: 60px;

      h4 {
        font-size: 24px;
        line-height: 31px;
        color: #1C0B05;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 31px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 50px;
        max-height: 186px;
        overflow: hidden;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
    margin-left: 130px;
    margin-right: 110px;
    .item-img {
      margin-left: 0;
      margin-right: 0px;
    }

    .item-text {
      margin-left: 0;
      margin-right: 50px;
    }
  }
}
/*end sectionCredit*/
/*begin sectionCompany*/
.company {
  background-color: $colorOrange;
  padding: 100px 13.6%;
  position: relative;

  .section-tittle h2 {
    margin-bottom: 70px;
  }

  .company-text p {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $colorBrown;
    margin-bottom: 80px;
  }

  &-btn {
    margin: 0 auto;
    display: block;
  }
}
/*end sectionCompany*/
/* begin sectionClient*/
.client {
  background: #F8FAFC;
  position: relative;
  min-height: 750px;

  .section-tittle {
    h2 {
      padding-top: 50px;
    }
  }

  &-dots {
    min-width: 130px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    height: 10px;
    top: 116px;
    transform: translateX(-50%);

    .slick-dots {
      bottom: 0;

      li {
        width: 10px;
        height: 10px;
      }
    }

    .slick-dots li button {
      background: #BFBBBA;
      opacity: 0.5;
    }

    .slick-dots .slick-active button {
      background-color: $colorOrange;
      opacity: 1;
    }
  }



  .slider-client {
    height: 693px;
    width: 1041px;
    position: absolute;
    top: 63px;

    img {
      height: 100%;
      margin-right: 20px;
    }
  }

  &-post {
    width: 812px;
    height: 530px;
    position: absolute;
    right: 110px;
    top: 176px;
  }

  &-post-item {
    width: 812px;
    height: 150px;
    margin-bottom: 40px;
    background-color: $colorWhite;
    display: flex;
    box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  }

  .item-img {
    width: 150px;
    height: 150px;
    display: inline-block;

    img {
      width: 100%;
      border: 5px solid $colorOrange;
    }
  }

  .item-text {
    width: 662px;
    display: inline-block;
    padding-left: 30px;
    svg{
      cursor: pointer;
    }
    svg.active {
      path {
        fill: $colorOrange;
      }
    }

    h3 {
      font-size: 20px;
      color: $colorBlack;
      margin-top: 47px;
    }

    p {
      font-size: 14px;
      color: $colorBlack;
      margin: 10px 0 20px;
    }
  }
}
/* end client section */
/* begin footer styles*/
.footer {
  margin-left: 10.417%;
  width: 1700px;
  position: relative;
  &-content {
    padding: 70px 110px;
    display: flex;
    margin-right: 0;
  }

  .item {
    margin-right: 55px;
    .item-tittle{
      margin-bottom: 25px;
    }
    h3 {
      font-size: 16px;
      color: #646464;
      text-transform: uppercase;
    }
  }

  &-list {
    margin-bottom: 30px;

    li {
      font-size: 14px;
      line-height: 27px;
      color: #959595;
    }
  }

  &-menu {
    width: 216px;

    a {
      font-size: 16px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #E04A38;
      transition: color .5s;
    }
    a:hover{
      color: $colorBlack;
      transition: color .5s;
    }

    .menu-item {
      margin-bottom: 25px;
    }
  }

  &-logo-body {
    height: 26px;
    margin-bottom: 30px;
  }

  &-logo-social {
    display: flex;

    .social-fb,
    .social-inst,
    .social-vk {
      margin-right: 12px;

      circle {
        transition: all 0.5s;
      }

      path {
        transition: all 0.5s;
      }
    }

    .social-fb:hover,
    .social-inst:hover,
    .social-vk:hover {
      circle {
        fill: $colorOrange;
        transition: all 0.5s;
      }

      path {
        fill: $colorWhite;
        transition: all 0.5s;
      }
    }
  }

  &-copyright {
    display: flex;
    padding: 37px 110px;
    background: #F8FAFC;
    justify-content: space-between;

    &-element {
      font-size: 14px;
      line-height: 23px;
      color: $colorBlack;
      display: inline-block;
    }

    .bold {
      font-weight: 700;
    }
  }
}
