<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
<div class="footer-content">
	<div class="item">
		<h3>Аудиторские услуги </h3>
                
                    <ul class="menu1-services-content-block-list">
                    <li class="menu1-services-content-block-list-item">Аудит финансовой отчетности </li>
                    <li class="menu1-services-content-block-list-item">Сопутствующие аудиторские услуги</li>
                    <li class="menu1-services-content-block-list-item">DUE DILIGENCE</li>
                </ul>
	</div>
	<div class="item">
		<h3>НАЛОГОВЫЙ КОНСАЛТИНГ</h3>
                
                                             <ul class="menu1-services-content-block-list">
                    <li class="menu1-services-content-block-list-item">Налоговые консультации </li>
                    <li class="menu1-services-content-block-list-item">Консультации по бухгалтерскому учету</li>
                    <li class="menu1-services-content-block-list-item">Бухгалтерский клуб </li>
                    <li class="menu1-services-content-block-list-item">Семинары</li>
                </ul>
	</div>
	<div class="item">
		<h3>КАДРОВЫЙ КОНСАЛТИНГ</h3>
                
                <ul class="menu1-services-content-block-list">
                    <li class="menu1-services-content-block-list-item">Кадровый аудит</li>
                    <li class="menu1-services-content-block-list-item">Подбор персонала</li>
                </ul>
	</div>
	<div class="item">
		<h3>БУХГАЛТЕРСКИЙ АУТСОРСИНГ</h3>
                <ul class="menu1-services-content-block-list">
                    <li class="menu1-services-content-block-list-item">Ведение бухгалтерского учета у юр.лиц </li>
                    <li class="menu1-services-content-block-list-item">Ведение бухгалтерского учета у ФЛП </li>
                    <li class="menu1-services-content-block-list-item">Восстановление бухгалтерского учета</li>
                </ul>
	</div>
	<div class="item">
		 <h3>ЮРИДИЧЕСКИЕ УСЛУГИ </h3>
                <ul class="menu1-services-content-block-list">
                    <li class="menu1-services-content-block-list-item">Юридические консультации</li>
                    <li class="menu1-services-content-block-list-item">Создание бизнеса</li>
                    <li class="menu1-services-content-block-list-item">Регистрация юридического лица</li>
                    <li class="menu1-services-content-block-list-item">Регистрация ФЛП</li>
                    <li class="menu1-services-content-block-list-item">Внесение изменений </li>
                    <li class="menu1-services-content-block-list-item">Регистрация торговой марки</li>
                    <li class="menu1-services-content-block-list-item">Реорганизация предприятия</li>
                    <li class="menu1-services-content-block-list-item"> Ликвидация предприятия</li>
                    <li class="menu1-services-content-block-list-item"> Ликвидация ФЛП</li>     
                    <li class="menu1-services-content-block-list-item">Составления и правовой анализ договоров</li>
                    <li class="menu1-services-content-block-list-item">Представительство в суде</li>
                </ul>
	</div>
</div>
</footer>
<!-- /FOOTER -->
