<!-- HEADER -->
<header class="header">
  <div class="menu">
    <div class="menu-logo">
      <svg width="124" height="21" viewBox="0 0 124 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.96426 20.5275V2.72402H15.4269V0.472535H0V2.72402H6.46261V20.5275H8.96426Z" fill="white" />
        <path d="M31.7154 18.276H21.7922V11.3825H31.2012V9.15883H21.7922V2.72402H31.7154V0.472535H19.2905V20.5275H31.7154V18.276Z" fill="white" />
        <path d="M52.2568 20.5275V0.472535H49.7551V9.14494H38.7479V0.472535H36.2462V20.5275H38.7479V11.3964H49.7551V20.5275H52.2568Z" fill="white" />
        <path d="M59.8451 20.5275V4.97551H60.0675L70.9497 20.5275H73.3819V0.472535H70.908V16.0801H70.6856L59.8034 0.472535H57.3713V20.5275H59.8451Z" fill="white" />
        <path
          d="M86.9325 0C81.2621 0 77.7181 4.04434 77.7181 10.4931C77.7181 16.914 81.1787 21 86.9325 21C92.6585 21 96.1052 16.9001 96.1052 10.4931C96.1052 4.05824 92.6307 0 86.9325 0ZM86.9325 2.30708C91.0324 2.30708 93.5341 5.47584 93.5341 10.4931C93.5341 15.4686 91.0463 18.6929 86.9325 18.6929C82.7631 18.6929 80.2892 15.4686 80.2892 10.4931C80.2892 5.47584 82.8465 2.30708 86.9325 2.30708Z"
          fill="white" />
        <path d="M110.156 20.5275V13.5228L112.561 10.8683L119.801 20.5275H123.04L114.284 9.13104L122.303 0.472535H119.162L110.379 10.2151H110.156V0.472535H107.655V20.5275H110.156Z" fill="white" />
        <circle cx="20.5394" cy="10.2094" r="1.92127" fill="#FEBA03" />
        <circle cx="87.0009" cy="10.2094" r="1.92127" fill="#FEBA03" />
        <path d="M58.8477 2.49023L63.4018 9.03679L59.2048 9.07237L58.8477 2.49023Z" fill="#FEBA03" />
        <path d="M71.4429 17.3984L66.8887 10.8519L71.0857 10.8163L71.4429 17.3984Z" fill="#FEBA03" />
        <rect x="21.6064" y="9" width="65.4655" height="2.41938" fill="#FEBA03" />
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="124" height="21">
          <path d="M8.96426 20.5275V2.72402H15.4269V0.472535H0V2.72402H6.46261V20.5275H8.96426Z" fill="white" />
          <path d="M31.7154 18.276H21.7922V11.3825H31.2012V9.15883H21.7922V2.72402H31.7154V0.472535H19.2905V20.5275H31.7154V18.276Z" fill="white" />
          <path d="M52.2568 20.5275V0.472535H49.7551V9.14494H38.7478V0.472535H36.2462V20.5275H38.7478V11.3964H49.7551V20.5275H52.2568Z" fill="white" />
          <path d="M59.8451 20.5275V4.97551H60.0675L70.9497 20.5275H73.3819V0.472535H70.908V16.0801H70.6856L59.8034 0.472535H57.3713V20.5275H59.8451Z" fill="white" />
          <path
            d="M86.9325 0C81.2621 0 77.7181 4.04434 77.7181 10.4931C77.7181 16.914 81.1787 21 86.9325 21C92.6585 21 96.1052 16.9001 96.1052 10.4931C96.1052 4.05824 92.6307 0 86.9325 0ZM86.9325 2.30708C91.0324 2.30708 93.5341 5.47584 93.5341 10.4931C93.5341 15.4686 91.0463 18.6929 86.9325 18.6929C82.7631 18.6929 80.2892 15.4686 80.2892 10.4931C80.2892 5.47584 82.8465 2.30708 86.9325 2.30708Z"
            fill="white" />
          <path d="M110.156 20.5275V13.5228L112.561 10.8683L119.801 20.5275H123.04L114.284 9.13104L122.303 0.472535H119.162L110.379 10.2151H110.156V0.472535H107.655V20.5275H110.156Z" fill="white" />
        </mask>
        <g mask="url(#mask0)">
          <rect x="101.614" y="-2.56152" width="28.4633" height="36.1484" fill="white" />
        </g>
      </svg>
    </div>
    <div class="menu-open-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-opacity-block">
    <ul class="menu-list">
      <li class="menu-list-item"><a href="#">О компании</a></li>
      <li class="menu-list-item"><a href="#"><span>Услуги</span>
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 7L0.75 13.9282L0.750001 0.0717965L9 7Z" fill="#FFF" />
          </svg></a>
      </li>
      <li class="menu-list-item"><a href="#">Новости</a></li>
      <li class="menu-list-item"><a href="#">Контакты</a></li>
    </ul>
    <div class="menu-contacts">
      <div class="menu-contacts-tel">
        <p>+7 565 565-65-45 <br><a href="#">Заказать звонок</a></p>
      </div>
      <div class="menu-contacts-adress">
        <p><span>Офис в Москве:</span><br> ул. Карла Маркса 51,<br> кабинет 265</p>
      </div>
    </div>
    </div>
    <div class="menu1-services">
      <div class="menu1-services-content">
        <span class="menu1-content-close">Закрыть</span>
        <div class="menu1-content-block">
          <div class="menu1-content-block-p">
            <h3><span>Аудиторские услуги </span><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>

            <ul class="menu1-block-list">
              <li class="menu1-block-list-item">Аудит финансовой отчетности </li>
              <li class="menu1-block-list-item">Сопутствующие аудиторские услуги</li>
              <li class="menu1-block-list-item">DUE DILIGENCE</li>
            </ul>
          </div>
          <div class="menu1-content-block-p">
            <h3><span>НАЛОГОВЫЙ КОНСАЛТИНГ</span> <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>

            <ul class="menu1-block-list">
              <li class="menu1-block-list-item">Налоговые консультации </li>
              <li class="menu1-block-list-item">Консультации по бухгалтерскому учету</li>
              <li class="menu1-block-list-item">Бухгалтерский клуб </li>
              <li class="menu1-block-list-item">Семинары</li>
            </ul>
          </div>
          <div class="menu1-content-block-p">
            <h3><span>КАДРОВЫЙ КОНСАЛТИНГ</span> <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>

            <ul class="menu1-block-list">
              <li class="menu1-block-list-item">Кадровый аудит</li>
              <li class="menu1-block-list-item">Подбор персонала</li>
            </ul>
          </div>
          <div class="menu1-content-block-p">
            <h3><span>ФРАНЧАЙЗИНГ</span> <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>
              <ul class="menu1-block-list">
                <!-- list-item -->
              </ul>
          </div>
          <div class="menu1-content-block-p">
            <h3><span>DUE DILIGENCE</span> <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>
              <div class="menu1-block-list">
                <!-- list item -->
              </div>
          </div>
        </div>
        <div class="menu1-content-block">
          <div class="menu1-content-block-p">
            <h3><span>БУХГАЛТЕРСКИЙ АУТСОРСИНГ</span> <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>
            <ul class="menu1-block-list">
              <li class="menu1-block-list-item">Ведение бухгалтерского учета у юр.лиц </li>
              <li class="menu1-block-list-item">Ведение бухгалтерского учета у ФЛП </li>
              <li class="menu1-block-list-item">Восстановление бухгалтерского учета</li>
            </ul>
          </div>
          <div class="menu1-content-block-p">
            <h3><span>ЮРИДИЧЕСКИЕ УСЛУГИ </span><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="7" width="1" height="15" rx="0.5" fill="#FEBA03" />
                <rect x="15" y="7" width="1" height="15" rx="0.5" transform="rotate(90 15 7)" fill="#FEBA03" />
              </svg></h3>
            <ul class="menu1-block-list">
              <li class="menu1-block-list-item">Юридические консультации</li>
              <li class="menu1-block-list-item">Создание бизнеса</li>
              <li class="menu1-block-list-item">Регистрация юридического лица</li>
              <li class="menu1-block-list-item">Регистрация ФЛП</li>
              <li class="menu1-block-list-item">Внесение изменений </li>
              <li class="menu1-block-list-item">Регистрация торговой марки</li>
              <li class="menu1-block-list-item">Реорганизация предприятия</li>
              <li class="menu1-block-list-item"> Ликвидация предприятия</li>
              <li class="menu1-block-list-item"> Ликвидация ФЛП</li>
              <li class="menu1-block-list-item">Составления и правовой анализ договоров</li>
              <li class="menu1-block-list-item">Представительство в суде</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->
